---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "article", "colors", "content", "header", "nav", "sidebar", "syntax-highlighting";

/* do you know where you are? you're in the general font and margin setting part of the CSS, baby. */

body {

	font-family: "roboto", Tahoma, Verdana, sans-serif;
	font-size: .9em;
	background: $su-sky34;
}


h1, h2, h3, h4, h5, h6 {

font-family: 'Roboto Slab', serif;
color: $su-blue

}

a { 

color: $su-blue;
text-decoration: none;

}


a:hover, a:active {
	color: $su-water;
    text-decoration: underline;
}


pre,
code {
    font-size: 14px;
    border: 1px solid #fdfdfd;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 1px;
    background: #fff;
    border: 0px;
}

pre {
    padding: 8px 12px;


    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/* structural considerations paid for by the following */

#wrap {
	width: 1000px; 
	margin-right: auto; margin-left: auto; margin-top: 10px;
	background: #fff;
	padding: 15px;

}


/* #footer stuff... it's finally over. It's finally over. */

#footer {
	clear: both;
	background: #fff;
	border-top: #ddd 1px solid;
}



#footer p { 
	font-size: 85%;
	font-family: 'roboto slab', Georgia, serif;
	padding: 2px 2px;
	color: #333;
	margin-left: 15px;
}

#footer a {

	text-decoration: none;
	font-weight: normal;
}
