<div id="footer">
        <p>page designed by steve. <a href="http://jigsaw.w3.org/css-validator/validator?uri={{site.url}}"><abbr title="Cascading Style Sheets">CSS</abbr></a>. <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.1 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr> 1.1</a>. <a href="http://www.contentquality.com/mynewtester/cynthia.exe?Url1={{site.url}}" title="508 testing, for disability compliance">508</a>.</p>
</div>

