<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=iso-8859-1" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400' rel='stylesheet' type='text/css'>
<title>{{site.title }} | {{page.title}}</title>
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
<!--[if IE]>
   <style type="text/css">
    @import url(all-ie.css);
  </style>
<![endif]-->
</head>
