<!-- <ul class="menu">


<li><a class="page-link" href="{{ site.syllabus }}"><i class="fa fa-list-ul fa-lg"></i> Syllabus</a></li>
<li><a class="page-link" href="/course-materials/"><i class="fas fa-book"></i> Course Materials</a></li>
<li><a class="page-link" href="/lectures/"><i class="fas fa-book-reader"></i> Lectures</a></li>
<li><a class="page-link" href="/lab-scripts-problem-sets/"><i class="fas fa-flask"></i> Lab Scripts/Problem Sets</a></li>
<li><a class="page-link" href="https://github.com/{{ site.githubdir }}"><i class="fab fa-github"></i></a></li>
<li><a class="page-link" href="{{ site.authorurl }}"><i class="fa fa-user fa-lg"></i></a></li> 
    </ul> -->



<ul class="menu">
<!--  <li><a class="page-link" href="{{ site.syllabus }}"><i class="fa fa-list-ul fa-lg"></i> Course Description</a></li> -->

    {% for i in site.data.menu %}
    {% if i.subcategories != null %}
    {% if {{page.active}} == {{i.active}} %}
    <li id="n-active"><a href="{{ i.href }}" class="active"><i class="{{i.icons}}"></i> {{ i.title }}</a>
    {% else %}
     <li><a href="{{ i.href }}" class=""><i class="{{i.icons}}"></i> {{ i.title }}</a>
    {% endif %}
    <ul class="sub-menu">
    {% for subcategory in i.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul> </li>
    {% else %}
    {% if {{page.active}} == {{i.active}} %}
    <li id="n-active"><a href="{{ i.href }}" class="active"><i class="{{i.icons}}"></i> {{ i.title }}</a>
    {% else %}
    <li><a href="{{ i.href }}" class=""><i class="{{i.icons}}"></i> {{ i.title }}</a>
    {% endif %}   </li>
    {% endif %}
 
    {% endfor %}
    
    <li><a class="page-link" href="https://github.com/{{ site.githubdir }}"><i class="fab fa-github"></i></a></li>
<li><a class="page-link" href="{{ site.authorurl }}"><i class="fa fa-user fa-lg"></i></a></li> 
    </ul>