#article {
	float: left;
	width: 99.9%;
	line-height: 1.6em;
	color: #000;
	background: #fff;
	margin-top: 10px;
}

#article p { text-align: justify }

#article p img {
	float: right;
	border: 0px $su-sky solid;
	padding: 8px;
	margin: 0 0 8px 16px;
	background: $su-sky34;
}