$su-blue: #002F5F;
$su-olive: #8cb233;
$su-sky: #ACDEE6;
$su-sky34: #e3f4f7;
$su-sky20: #eef9fa;
$su-water: #9BB2CE;
$su-fire: #EB7125;
$su-fire10: #fdf0e8;
$su-darkgrey: #4c4c4c;
$su-lightgrey: #dadada;
$su-mediumgrey: #bababa;
