
/* header, so everyone knows where they're at and why they should be bored and compelled to leave */

#header {
	background: $su-blue;
}

#header h1 {
	margin: 0;
	/* font-family: 'Roboto Slab', serif; */
	font-size: 205%;
	letter-spacing: -.05em;
	font-weight: normal;
	color: #fff;
	padding: 20px 5px 5px 25px;
}

#header h1 span {
	font-size: 50%;
	color: $su-sky20;
	font-weight: normal;
	/* font-family: 'Roboto Slab', serif; */
	letter-spacing: 0em;
	padding-left: 5px;
}

