/* @media only screen and (max-width: 600px) {

#wrap {
	width: 600px; 
	margin-right: auto; margin-left: auto; margin-top: 10px;
	background: #fff;
	padding: 15px;

}


}
*/

@media (max-width: 600px) {

#wrap {
width: 600px;
}
        }
