---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  
  <div class ="lab-abstract">
  {{ page.abstract | markdownify }}
  
  <a href="https://raw.githubusercontent.com/svmiller/ir3-2/refs/heads/main/scripts/{{ page.filename }}"><i class="fab fa-r-project"></i>&nbsp;&nbsp;Download the R script for this tutorial</a><br />
  <div class='instructions'>Students: Select all the contents (Ctrl-A [⌘-A, for Mac]) of the file linked above, copy (Ctrl-C [⌘-C]), and paste (Ctrl-V [⌘-V]) into a new RStudio script window (Ctrl-Shift-N [⌘-Shift-N] in RStudio).</div>
  </div>

  <article class="post-content">
    {{ content }}
  </article>

</div>
